// This is in a separate styles directory because theme/styles seems to have a different role. 

$accentColor = #505F79
$textColor = rgb(23, 43, 77)
$borderColor = #eaecef
$codeBgColor = rgb(37, 56, 88)