// Colors

/* Define Global Variables */
:root {
    // Colors
    --primary: #661422;
    --light-shade: #f4f4f2;
    --dark-shade: #1b1b24;
    --light-accent: #ca955d;
    --dark-accent: #787e98;
    --text-dark: #39394d;
    --text-primary: #591f29;

    // Opacity
    --caption-o: 0.8;
    --link-o: 0.9;
}
